CST::BEGIN
  TEMPLATE:: ATOM_MAP: 1 residue3: RBO
  TEMPLATE:: ATOM_MAP: 1 atom_name: O1 C1 C2   
  TEMPLATE:: ATOM_MAP: 2 residue3: TYR
  TEMPLATE:: ATOM_MAP: 2 atom_name: OH CZ CE1 
  CONSTRAINT:: distanceAB: 2.7 0.27 99 1 1 
  CONSTRAINT:: angle_A: 126.1 12.6 99 360 1 
  CONSTRAINT:: angle_B: 115 10.3 99 360 1
  CONSTRAINT:: torsion_A: 77 7 99 360 1  
  CONSTRAINT:: torsion_B: 7 7 99 360 1  
  CONSTRAINT:: torsion_AB: 91 99 1 360 1 
CST::END
CST::BEGIN
  TEMPLATE:: ATOM_MAP: 1 residue3: RBO
  TEMPLATE:: ATOM_MAP: 1 atom_name: O1 C1 C2   
  TEMPLATE:: ATOM_MAP: 2 residue3: HIS
  TEMPLATE:: ATOM_MAP: 2 atom_name: NE2 CE1 ND1
  CONSTRAINT:: distanceAB: 3.0 0.3 99 1 1 
  CONSTRAINT:: angle_A: 138 12.6 99 360 1 
  CONSTRAINT:: angle_B: 126.5 10.3 99 360 1
  CONSTRAINT:: torsion_A: -130.7 7 99 360 1  #42.5!!!
  CONSTRAINT:: torsion_B: 172.5 7 99 360 1  
  CONSTRAINT:: torsion_AB: 43.4 9 99 360 1 
CST::END

